@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
      /* background-image: url(/assets/images/hero-bg.png), url('/assets/images/hero-bg1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}

h2{
    color: #5283C2;
}

@keyframes spin-slow {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
}
.animate-spin-slow {
    animation: spin-slow 5s linear infinite;
    transform-origin: center;

}

.hero{
    /* background-image: url(/assets/images/hero-bg.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat; */
}



   
/* .button-primary {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
} */

.price-card:hover .button-primary {
    color: #ffffff;
    background-color: #5283C2;
}   